# Dependencies
node_modules/

# Environment variables - NEVER upload these
.env
.env.local
.env.production

# Build folder
build/

# Mac system files
.DS_Store

# VS Code settings
.vscode/

# Logs
npm-debug.log*
yarn-debug.log*